@charset "UTF-8";
/*aplico un reseteador para eliminar espacios no aplicados*/
* {
  margin: 0;
  padding: 0; }

/* cambio la medida del REM, para trabajar comodamente con 1rem=10px, dado que un rem quivale a 16px */
html {
  font-size: 62.5%;
  /* BODY */
  /*aplico areas y uso html como padre contenedor, además aplico la orden de trabajar con el 100 por ciento de mi pantalla*/ }
  html body {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header" "main" "footer";
    width: 100%;
    height: 100vh; }
    html body header {
      /*CABECERA*/
      background: radial-gradient(white, #fafbfd);
      /*pruebo un gradiente bastante sutil para ver como queda*/
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      /*dejo esto comentado debido a que estoy usando una clase con bootstrap y que no sobrescriba el codigo */
      align-items: center;
      grid-area: header;
      height: fit-content;
      font-family: "Montserrat", sans-serif;
      /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/ }
      html body header h1 {
        color: #002a64c1;
        margin-right: 0.4rem;
        font-size: 1.8rem;
        /*margin-right: 1rem; */
        font-weight: bold;
        /*esto es una pseudo estilo de prueba para el titulo*/ }
        html body header h1:hover {
          color: #00e096; }
      html body header nav ul {
        display: flex;
        flex-flow: row wrap;
        /*aplico para que el contenido respete el tamaño y separacion de los elementos li del ul poniendolos en dos lineas horizontales por defecto, y asi evitar que me los junte o achique*/
        justify-content: center;
        align-items: center;
        font-weight: bold;
        /* le doy mayor grosor a la letra */
        font-size: 1.7rem;
        list-style-type: none;
        /* elimino los puntos del menu list */
        /* margin: 0.3rem 0.3rem; SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX */ }
        html body header nav ul li {
          border-color: white;
          border-left: solid 2px #b2c2d0;
          /* de esta manera borro los bordes que no quiero, luego abajo aplico especificidad */
          border-right: solid 2px #87c8de;
          /* con estas propiedades jugué con el diseño de bordes en el menu*/
          display: inline-block;
          /* convierto mi menu en horizontal y al ser también "block" le sumo propiedades de altura (de bloque), ver propiedad con flex box */
          margin: 0.7rem auto;
          padding: 0.7rem 2.4rem; }
          html body header nav ul li a {
            color: #ff009d;
            text-decoration: none;
            /*le scao el subrayado al texto del menu*/ }
            html body header nav ul li a:hover {
              color: #038989;
              /*con esta funcion doy color cuando señalo las palabras del menu*/ }
    html body main {
      /*MAIN*/
      grid-area: main;
      /*solo lo creo para poder darle funcionamiento al grid para lograr la media queris*/ }
    html body aside {
      /*ASIDE*/
      background-color: rgba(247, 247, 21, 0.2);
      /*estoy dando transparencia al color agregando la intensidad de transparencia 0.3*/
      background: linear-gradient(to bottom, rgba(77, 77, 76, 0.6), rgba(255, 255, 255, 0.5));
      width: 16rem;
      height: 65.4rem;
      position: fixed;
      right: 0.7rem;
      top: 6.1rem;
      display: flex;
      flex-flow: column wrap;
      grid-area: aside; }
      html body aside ul {
        padding-left: 0rem; }
        html body aside ul li {
          display: inline-block;
          position: relative; }
          html body aside ul li:hover ul {
            display: flex;
            flex-flow: column wrap;
            background-color: #7ebae2;
            /*estoy dando transparencia al color agregando la intensidad de transparencia 0.3*/
            background: linear-gradient(to bottom, rgba(255, 255, 209, 0.5), white); }
          html body aside ul li h3 {
            color: #fbff00;
            font-size: 1.9rem;
            font-weight: bolder;
            font-family: "Montserrat", sans-serif;
            line-height: 1.9;
            text-align: center;
            padding-top: 0.3rem; }
            html body aside ul li h3:hover {
              background-color: #fbff00e2;
              color: black;
              font-weight: bolder; }
          html body aside ul li ul {
            position: absolute;
            display: none;
            list-style-type: none; }
            html body aside ul li ul a {
              text-decoration: none; }
              html body aside ul li ul a div {
                color: #000000;
                font-family: "Montserrat", sans-serif;
                /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
                font-size: 2.1rem;
                font-weight: bold;
                /*texto mas remarcado*/
                position: relative;
                /*especifico que sea la posicion relativa a tener en cuenta para el position absolute del hijo img*/
                margin-top: 2.6rem; }
                html body aside ul li ul a div:hover img {
                  display: flex; }
                html body aside ul li ul a div img {
                  /* con position absolute y display none estoy diciendo que  SE SALE DEL FLUJO NORMAL Y TOMA AL aside div como su 
                  padre porque previamente dijimos que aside div es relative, luego el display none actúa ocultando el contenido, en este caso la imagen */
                  position: absolute;
                  display: none;
                  background-size: cover;
                  /*funciona si solo si tengo un ancho y un alto espicificado en mi padre que contine el elemento imagen y obliga 
                    a mi imagen a cubrir el espacio del padre*/
                  width: 16rem;
                  /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
                  height: 19rem;
                  /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/ }
                html body aside ul li ul a div p {
                  color: #070706;
                  font-family: "Montserrat", sans-serif; }
    html body footer {
      /*FOOTER*/
      grid-area: footer;
      background-color: #ffffff;
      margin-top: auto;
      margin-bottom: 0.7rem;
      height: fit-content;
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      html body footer h2 {
        font-family: "Montserrat", sans-serif;
        color: #505052f7;
        font-size: large;
        font-weight: bold;
        margin-left: 8rem; }
      html body footer div {
        display: flex;
        /*aplico propiedad para poder aplicar padding a los hijos y separarlos entre sí, además aplico direccion y wrap/responsivo*/
        flex-flow: column wrap; }
        html body footer div a {
          padding-top: 3.5rem;
          /*con esta propiedad y gracias que hice flexible al div padre pude aplicarle propiedades box*/
          padding-left: 2.4rem; }

/*clases del footer*/
.footerGrid {
  width: auto;
  height: 8rem;
  background-image: url("../assets/img/icono misued mas chico.jpg");
  background-repeat: no-repeat;
  /*de esta manera */
  background-position: left;
  /*de esta manera centro la imagen de fondo, para que me muestre el centro de la imagen inicialmente*/
  margin-left: 8rem;
  margin-top: 0 rem; }
  .footerGrid .redesSociales {
    width: 6.3rem;
    position: fixed;
    right: 0.5rem;
    bottom: 13rem; }
    .footerGrid .redesSociales .instagram {
      width: auto;
      position: fixed;
      right: 7rem;
      bottom: 9.5rem; }
  .footerGrid .whatsapp {
    width: 4.2rem;
    position: fixed;
    right: 14rem;
    bottom: 2.2rem; }

/* FORMULARIOS */
/* en este caso aplico css para FORMULARIO, para aplicar propiedades similares entre el formulario de "contacto" y "MI presupuesto" */
main form {
  margin: 0px 40px 20px 40px;
  display: flex;
  flex-flow: column wrap;
  width: 85rem; }

.tituloFormulario {
  display: block;
  margin: 5rem; }

.inputMediumMail {
  width: 16rem; }

.formPadding {
  padding-top: 3.8rem;
  background-color: aliceblue; }

/*aplico pseudoclases en las pages*/
a:link {
  text-decoration: none;
  color: cornflowerblue; }

a:active {
  background-color: aqua;
  color: #fbff00; }

input:focus {
  background-color: #acd0f7;
  width: 112rem;
  height: 4.8rem;
  color: #000000;
  font-weight: bolder; }

textarea:focus {
  background-color: #acd0f7;
  width: 112rem;
  height: 24rem;
  color: #000000;
  font-weight: bolder; }

select:focus {
  background-color: #acd0f7;
  width: 112rem;
  height: 4.8rem; }

.NoFocus-form {
  /*creo clase "NoFocus-form" para eliminar el focus por herencia y aprovecho a personalizar*/
  width: 1.9rem;
  height: 1.9rem; }

/* aplico responsive designe */
/*clases de la PAGE INDEX*/
.mainIndex {
  background-color: #ebf3f3;
  /*utilice el fondo solo para tomar conocimiento del espacio del main*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2 img3" "img1 img2 img4";
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  height: 40rem; }
  .mainIndex .divIndex1 {
    background-image: url("../assets/img/ventana cocina cansino.jpg");
    background-size: cover;
    grid-area: img1; }
  .mainIndex .divIndex2 {
    background-image: url("../assets/img/escalera_galeria.jpg");
    background-size: cover;
    grid-area: img2; }
  .mainIndex .divIndex3 {
    background-image: url("../assets/img/paños fijos_galeria.jpg");
    background-size: cover;
    grid-area: img3; }
  .mainIndex .divIndex4 {
    background-image: url("../assets/img/vc2_galeria.jpg");
    background-position: left;
    background-size: cover;
    grid-area: img4; }

.mainServicios {
  font-family: "Montserrat", sans-serif;
  /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
  margin: auto 4rem;
  font-size: 1.9rem;
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
  height: 102rem;
  background-image: url("../assets/img/camion misued.jpg");
  background-repeat: no-repeat;
  background-size: auto; }
  .mainServicios .mainDivServicios .tituloServicios {
    /*los margins me sirve solo para aplicar espacios entre textos y titulos*/
    margin: 8rem 1.6rem;
    margin-left: 16rem;
    font-size: 3.5rem;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    line-height: 2.4rem;
    text-align: start; }
  .mainServicios .mainDivServicios .mainH2 {
    margin: 5rem;
    font-weight: 100rem; }
  .mainServicios .mainDivServicios .mainPservicios {
    font-size: 1.9rem;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    line-height: 1.9rem;
    text-align: center; }
  .mainServicios .mainDivServicios .textoColorAzul {
    color: blue;
    font-weight: 1000; }
  .mainServicios .divServicios2 {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 12.8rem;
    padding: auto, 1.6rem; }
  .mainServicios .divServicios1 {
    background-color: rgba(210, 217, 235, 0.8);
    margin-bottom: 12.8rem; }

.mainMippto {
  background-image: url("../assets/img/varios3_galeria.jpg");
  background-size: cover; }
  .mainMippto .tituloFormulario {
    font-family: "Montserrat", sans-serif;
    /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
    font-size: 3.6rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    line-height: 1.9rem;
    margin-left: 20rem; }
  .mainMippto .formMippto {
    font-family: "Montserrat", sans-serif;
    /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1.4; }
    .mainMippto .formMippto input {
      padding-top: 0.5rem;
      margin-bottom: 1.6rem; }
    .mainMippto .formMippto label {
      font-weight: bolder;
      color: white;
      background-color: rgba(18, 137, 188, 0.5); }
    .mainMippto .formMippto .SolicYa {
      background-color: #14b17d;
      color: white;
      font-weight: 800;
      font-family: "Montserrat", sans-serif; }
    .mainMippto .formMippto .limpiar {
      background-color: #b6acac;
      color: white;
      font-weight: 800;
      font-family: "Montserrat", sans-serif; }
    .mainMippto .formMippto .masMippto {
      font-weight: 800;
      color: white;
      background-color: rgba(18, 137, 188, 0.5); }

/* css de Deseos de clientes */
.galeria {
  width: 96rem;
  height: min-content;
  margin-left: 24rem; }
  .galeria .carousel-item {
    background-size: contain; }
    .galeria .carousel-item .textCarousel {
      background-color: rgba(104, 105, 105, 0.3);
      color: #fefeff;
      font-family: "Montserrat", sans-serif;
      /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
      font-size: 2.9rem;
      /* margin-right: 1rem; */
      font-weight: bolder;
      text-align: left; }
    .galeria .carousel-item .textCarousel2 {
      background-color: rgba(104, 105, 105, 0.3);
      color: #fefeff;
      font-family: "Montserrat", sans-serif;
      /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
      font-size: 2.9rem;
      /* margin-right: 1rem; */
      font-weight: bolder;
      text-align: left; }

/* css de CONTACTO */
#iframeMap {
  margin: 6.4rem 6.4rem;
  width: 120rem; }

.secContacto {
  display: flex;
  flex-flow: row wrap;
  background-image: linear-gradient(to right, white, #6acdf8); }
  .secContacto .img-contacto {
    width: 48rem;
    height: fit-content;
    margin-left: 11rem;
    padding-top: 1.6rem; }

main article form {
  font-family: "Montserrat", sans-serif;
  /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.4; }

.inputMediumObs {
  width: 72rem; }

.inputMediumMail {
  width: 48rem; }

.tituloFormulario {
  margin-left: 19.2rem; }

@media screen and (max-width: 768px) {
  footer {
    flex-flow: column wrap; }
  .telefonoFooter {
    margin: auto 10rem; } }
