/*aplico un reseteador para eliminar espacios no aplicados*/
* {
    margin: 0;
    padding: 0; 
 }

 /* cambio la medida del REM, para trabajar comodamente con 1rem=10px, dado que un rem quivale a 16px */
html {
    font-size: 62.5%;
    /* BODY */
    /*aplico areas y uso html como padre contenedor, además aplico la orden de trabajar con el 100 por ciento de mi pantalla*/
    body {
      display: grid;
      grid-template-columns: 4fr;
      grid-template-rows: 1fr 3fr 1fr;
      grid-template-areas: 
      "header"
      "main"
      "footer";
    
      width: 100%;
      height: 100vh;
      
      header { /*CABECERA*/
          background: radial-gradient(white, rgb(250, 251, 253)); /*pruebo un gradiente bastante sutil para ver como queda*/
        
          display: flex;
          flex-flow: row wrap;
          justify-content: center;  /*dejo esto comentado debido a que estoy usando una clase con bootstrap y que no sobrescriba el codigo */
          align-items: center;
        
          grid-area: header;
          height: fit-content;
          // width: $anchoRP;
        
          font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
          
          h1 {
            color: #002a64c1;
            margin-right: 0.4rem;
            font-size: 1.8rem;
            /*margin-right: 1rem; */
            font-weight: bold;
            /*esto es una pseudo estilo de prueba para el titulo*/
            &:hover {
              color: rgb(0, 224, 150);
            }
          }
          nav ul {
            display: flex;
            flex-flow: row wrap; /*aplico para que el contenido respete el tamaño y separacion de los elementos li del ul poniendolos en dos lineas horizontales por defecto, y asi evitar que me los junte o achique*/
            justify-content: center;
            align-items:center;
            font-weight: bold; /* le doy mayor grosor a la letra */
            font-size: 1.7rem;
            list-style-type: none; /* elimino los puntos del menu list */
          
            /* margin: 0.3rem 0.3rem; SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX */
            li {
              border-color: white;
              border-left: solid 2px rgb(178, 194, 208); /* de esta manera borro los bordes que no quiero, luego abajo aplico especificidad */
              border-right: solid 2px rgb(135, 200, 222); /* con estas propiedades jugué con el diseño de bordes en el menu*/
            
              display: inline-block; /* convierto mi menu en horizontal y al ser también "block" le sumo propiedades de altura (de bloque), ver propiedad con flex box */
              margin: 0.7rem auto;
              padding: 0.7rem 2.4rem;
              a {
                color: #ff009d;
                text-decoration: none; /*le scao el subrayado al texto del menu*/
                &:hover {
                  color: rgb(3, 137, 137); /*con esta funcion doy color cuando señalo las palabras del menu*/
                }
              }
            }
          }
        }

      
      main { /*MAIN*/
        grid-area: main; /*solo lo creo para poder darle funcionamiento al grid para lograr la media queris*/
        // width: $anchoRP;
      }
      
      aside { /*ASIDE*/
        background-color: rgba(247, 247, 21, 0.2); /*estoy dando transparencia al color agregando la intensidad de transparencia 0.3*/
        background: linear-gradient(to bottom,rgba(77, 77, 76, 0.6), rgba(255, 255, 255, 0.5));
      
        width: 16rem;
        height: 65.4rem;
      
        position: fixed;
        right: 0.7rem;
        top: 6.1rem;
      
        display: flex;
        flex-flow: column wrap;
      
        grid-area: aside;
        ul {
          padding-left: 0rem;
          li {
            display: inline-block;
            position: relative;
            &:hover ul {
              display: flex;
              flex-flow: column wrap;
              background-color: rgb(126, 186, 226); /*estoy dando transparencia al color agregando la intensidad de transparencia 0.3*/
              background: linear-gradient(to bottom,rgba(255, 255, 209, 0.5), rgb(255, 255, 255));
            }
            h3 {
              color: #fbff00;
              font-size: 1.9rem;
              font-weight: bolder;
              font-family: "Montserrat", sans-serif;
              line-height: 1.9;
              text-align: center;
              
              padding-top: 0.3rem;
              &:hover {
                background-color: #fbff00e2;
                color: rgb(0, 0, 0);
                font-weight: bolder;
              }
            }
            ul {
              position: absolute;
              display: none;
              list-style-type: none;
              a {
                text-decoration: none;
                div {
                  color: #000000;
                  font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
                  font-size: 2.1rem;
                  font-weight:bold; /*texto mas remarcado*/
                
                  position: relative; /*especifico que sea la posicion relativa a tener en cuenta para el position absolute del hijo img*/
                  margin-top: 2.6rem;
                  &:hover img { 
                    display: flex;
                  }
                  img {
                  /* con position absolute y display none estoy diciendo que  SE SALE DEL FLUJO NORMAL Y TOMA AL aside div como su 
                  padre porque previamente dijimos que aside div es relative, luego el display none actúa ocultando el contenido, en este caso la imagen */
                    position: absolute;
                    display: none;
                  
                    background-size: cover; /*funciona si solo si tengo un ancho y un alto espicificado en mi padre que contine el elemento imagen y obliga 
                    a mi imagen a cubrir el espacio del padre*/
                    width: 16rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
                    height: 19rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
                  }
                  p {
                    color: #070706;
                    font-family: "Montserrat", sans-serif;
                  }
                }
              }
            }
          }
        }
      }
      
      footer { /*FOOTER*/
        
        grid-area: footer;

        background-color: #ffffff;

        margin-top: auto;
        margin-bottom: 0.7rem;
        height: fit-content;
        // width: $anchoRP;

        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        h2 {
          font-family: "Montserrat", sans-serif;
          color: #505052f7;
          font-size: large;
          font-weight: bold;
          
          margin-left: 8rem;
        }
        div {
          display: flex;    /*aplico propiedad para poder aplicar padding a los hijos y separarlos entre sí, además aplico direccion y wrap/responsivo*/
          flex-flow: column wrap; 
          a {
            padding-top: 3.5rem; /*con esta propiedad y gracias que hice flexible al div padre pude aplicarle propiedades box*/
            padding-left: 2.4rem;
          }
        }
      }
    }
  }
  




/*clases del footer*/

.footerGrid {
  width: auto;
  height: 8rem;
  
  
  background-image: url("../assets/img/icono\ misued\ mas\ chico.jpg");
  background-repeat: no-repeat; /*de esta manera */
  background-position: left; /*de esta manera centro la imagen de fondo, para que me muestre el centro de la imagen inicialmente*/

  margin-left: 8rem;
  margin-top: 0 rem;
  .telefonoFooter {
    margin-left: 32rem;
  }
  .redesSociales {  
    width: 6.3rem;  
    position: fixed;
    right: 0.5rem;
    bottom: 13rem;;
    .instagram {
      width: auto;
      
      position: fixed;
      right: 7rem;
      bottom: 9.5rem;
    }
  }
  .whatsapp {
    width: 4.2rem;
    position: fixed;
    right: 14rem;
    bottom: 2.2rem;
  }
}

/* FORMULARIOS */
/* en este caso aplico css para FORMULARIO, para aplicar propiedades similares entre el formulario de "contacto" y "MI presupuesto" */

  main form {
    margin: 0px 40px 20px 40px;
    display: flex;
    flex-flow: column wrap;
    width: 85rem;
  }

  .tituloFormulario {
    display: block;
    margin: 5rem;
  }

  .inputMediumMail {
    width: 16rem;
  }
  
  .formPadding {
    padding-top: 3.8rem;
    background-color: aliceblue;
  }

/*aplico pseudoclases en las pages*/

a:link {
  text-decoration: none;
  color: cornflowerblue;
}

a:active {
  background-color: aqua;
  color: #fbff00;
}

input:focus {
  background-color: rgb(172, 208, 247);
  width: 112rem;
  height: 4.8rem;
  color: #000000;
  font-weight: bolder;
}

textarea:focus {
  background-color: rgb(172, 208, 247);
  width: 112rem;
  height: 24rem;
  color: #000000;
  font-weight: bolder;
}

select:focus {
  background-color: rgb(172, 208, 247);
  width: 112rem;
  height: 4.8rem;
}

.NoFocus-form {  /*creo clase "NoFocus-form" para eliminar el focus por herencia y aprovecho a personalizar*/
  width: 1.9rem;
  height: 1.9rem;
}
  
/* aplico responsive designe */

  
  
  
  
  
  
  
  
  
  
  