/* css de CONTACTO */

#iframeMap {
    margin: 6.4rem 6.4rem;
    width: 120rem;
 }
 
 .secContacto {
   display: flex;
   flex-flow: row wrap;
   background-image:linear-gradient(to right, white, rgb(106, 205, 248)) ;
   .img-contacto {
     width: 48rem;
     height: fit-content;
     margin-left: 11rem;
     padding-top: 1.6rem;
    }
  }
  main article form{
    font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1.4;
  }

.inputMediumObs {
  width: 72rem;
}
 .inputMediumMail {
   width: 48rem;
 }
 .tituloFormulario {
  margin-left: 19.2rem;
 }