/*clases de la PAGE INDEX*/

.mainIndex {
    background-color: rgb(235, 243, 243); /*utilice el fondo solo para tomar conocimiento del espacio del main*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img1 img3 img2"
    "img1 img4 img2";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  
    height: auto;
    .divIndex1 {
      background-image: url("../assets/img/pr2_galeria\ -\ copia.jpg");
      background-position:bottom;
      background-size: cover;
      object-fit: cover;
      grid-area:img1;
    }
    .divIndex2 {
      background-image: url("../assets/img/escalera_galeria.jpg");
      background-size: cover;
      object-fit: cover;
      grid-area: img2;
    }
    .divIndex3 {
      background-image: url("../assets/img/ventanas\ blancas\ moris.jpg");
      background-position:center;
      background-size: cover;
      object-fit: cover; //esta propiedad mantiene el aspecto de la imagen en armonia, puede que se pierda o gane parte de lo que se ve, por la correccion del aspecto//
      grid-area: img3
    }
    .divIndex4 {
      background-image: url("../assets/img/ventana\ cansino\ editar\ 2.jpg");
      background-position:center;
      background-size: cover;
      object-fit: cover;
      grid-area: img4;
      height: auto;
    }
  }
  