@media screen and (max-width:768px) {
    .headerGrid {
        flex-flow: row wrap;
        justify-content:flex-start;  /*dejo esto comentado debido a que estoy usando una clase con bootstrap y que no sobrescriba el codigo */
        align-items:center;
        padding: 0rem;
        h1 {
            margin: 0rem 0.3rem;
            padding-top: 0.5rem;
            font-size: 1.2rem;
            /*margin-right: 1rem; */
            font-weight: bolder;
            /*esto es una pseudo estilo de prueba para el titulo*/
            &:hover {
                color: rgb(56, 0, 224);
            }
        }
        nav ul { 
            margin-top: 0.4rem;
            margin-right: 5rem;
            li {
              font-size: 1.2rem;
              padding: 0.3rem 1.2rem;
            }         
        }
        div {
            a {
            font-size: 1.2rem;
            img {
                width: 58px;
                height: 58px;
                }
              }
            }
    }

    main form {
        width: 45rem;
    }
    
    .asideGrid {
        background-color: rgba(255, 255, 255, 0);
        /*estoy dando transparencia al color agregando la intensidad de transparencia 0.0 para anular el bg color del aside*/
        background: linear-gradient(to bottom,rgba(77, 77, 76, 0), rgba(177, 210, 248, 0));
        right: 1.6rem;
        height: 62.5rem;
        top: 8rem;
        h3{
            background-color: rgba(30, 10, 72, 0.8);
            font-size: 1.2rem;
            line-height: 1.2;
            font-weight: 800;
        }
        ul a div {
            font-size: 1.3rem;
            &:hover img { 
                background-color: rgba(247, 247, 21, 0.2);
                /*estoydando transparencia al color agregando la intensidad de transparencia 0.3*/
                background: linear-gradient(to bottom,rgba(77, 77, 76, 0.6), rgba(177, 210, 248, 0.542));
              }
              img {
                width: 17rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
              }
        }
    }

    footer {
        flex-flow: column wrap;
        margin-right: 18rem;
        margin-bottom: 0rem;
        height: 0rem;
        h2 {
            padding-right: 16rem;
            span {
                font-family: "Montserrat", sans-serif;
                color: #505052f7;
                font-size:1.3rem;
                font-weight: bold;
            } }
        .telefonoFooter {
            margin: 0.5rem 8.5rem 0.5rem 1rem; 
        } 
        }

        //Mi presupuesto//
    .mainMippto{ //formulario de page mi presupuesto//
        .tituloFormulario {
            font-size: 2.4rem;
            line-height: 1.6rem;
            margin-left: 9.2rem;
        }
        .formMippto {
            font-size: 1.6rem;
            line-height: 1.2;
            input {
                padding-top: 0.5rem;
                margin-bottom: 1.2rem;
            }
        }
    }

    input:focus { //es una pseudo-clase para form de pages//
        width: 55rem;
        height: 4rem;
      }

    textarea:focus { //es una pseudo-clase para form de pages//
        width: 55rem;
        height: 20rem;
      }

    select:focus { //es una pseudo-clase para form de pages//
        width: 55rem;
        height: 4rem;
      }

        //Servicios//
    .mainServicios {
      display: flex;
      flex-wrap: wrap;
        font-size: 1.5rem;
        line-height: 3rem;

        background-position: start;
        // background-size: 50% 50%;

    
        height: auto;
        width: auto;
        .mainDivServicios {
          width: auto;
            .tituloServicios {
              /*los margins me sirve solo para aplicar espacios entre textos y titulos*/
              margin: 8.5rem 2.3rem 8.6rem 1rem;
              margin-left: 9rem;
              font-size: 4.5rem;
              background-color: rgba(127, 165, 255, 0.382);

               //texto inclinado//
              -webkit-transform: rotate(-347deg); 
              -moz-transform: rotate(-347deg); 
              -ms-transform: rotate(-347deg); 
              -o-transform: rotate(-347deg); 
              transform: rotate(-347deg); 
              
              -webkit-transform-origin: 50% 50%; 
              -moz-transform-origin: 50% 50%; 
              -ms-transform-origin: 50% 50%; 
              -o-transform-origin: 50% 50%; 
              transform-origin: 50% 50%; 
            }
            .mainH2 {
              margin: 6rem;
              padding-top: 0.7rem;
              margin-bottom: 3rem;
              font-weight: 60rem;
            }
            .mainPservicios {
              font-size: 1.9rem;
              font-weight: bolder;
            }
        }   
    }
    
    //Deseos de Clientes//  
    .galeria {
        width: 66rem;
        height: fit-content;
        margin-left: 5rem;
        .carousel-item {
          .textCarousel {
            font-size: 2rem;
          }
          .textCarousel2 {
            font-size: 2rem;
          }
        }
      }

    //Contacto//  
    #iframeMap {
        margin: 3rem 5rem;
        width: 58rem;
        }
        
    .secContacto {
        flex-flow: column wrap;
        background-image:linear-gradient(to right, white, rgba(106, 205, 248, 0.4)) ;
    .img-contacto {
        width: 48rem;
        margin-left: 9rem;
    }
    }
    main article form{
        font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
        font-size: 1.7rem;
    }
    
    .inputMediumObs {
        width: 62rem;
        font-weight: 500; //este estilo es un agregado y una prueba//
    }
}

 @media screen and (max-width:500px) {
  header { /*CABECERA*/
    background: radial-gradient(white, rgb(250, 251, 253)); /*pruebo un gradiente bastante sutil para ver como queda*/
  
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;  /*dejo esto comentado debido a que estoy usando una clase con bootstrap y que no sobrescriba el codigo */
    align-items: center;
  
    height: min-content;
    // width: $anchoRP;
  
    font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
    
    h1 {
      color: #002a64c1;
      margin-right: 0.3rem;
      font-size: 1.8rem;
      /*margin-right: 1rem; */
      font-weight: bold;
      /*esto es una pseudo estilo de prueba para el titulo*/
      &:hover {
        color: rgb(0, 224, 150);
      }
    }
    nav{
      ul li {
        font-weight: bold; /* le doy mayor grosor a la letra */
        font-size: 1.7rem;
        list-style-type: none; /* elimino los puntos del menu list */
        display: inline-block;
        position: relative;
        &:hover ul {
          display: flex;
          flex-flow: column wrap;
    
          background-color: rgb(126, 186, 226); /*estoy dando transparencia al color agregando la intensidad de transparencia 0.3*/
          background: linear-gradient(to bottom,rgba(255, 255, 209, 0.5), rgb(255, 255, 255));
    
          border-radius: 20px ;
          -webkit-border-radius: 20px ;
          -moz-border-radius: 20px ;
          -ms-border-radius: 20px ;
          -o-border-radius: 20px ;
        }
        
        /* margin: 0.3rem 0.3rem; SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX */
        ul {
          position: relative;
          display: none;
          list-style-type: none;
          li {
            border-color: none;
            border-left: none; /* de esta manera borro los bordes que no quiero, luego abajo aplico especificidad */
            border-right: none; /* con estas propiedades jugué con el diseño de bordes en el menu*/
            
            display: block; /* convierto mi menu en horizontal y al ser también "block" le sumo propiedades de altura (de bloque), ver propiedad con flex box */
            margin: 0.7rem auto;
            padding: 0.7rem 2.4rem;
          }
         }
        div {
            a {
            font-size: 1.2rem;
            img {
                width: 58px;
                height: 58px;
                }
              }
            }
      }
    } 
  }
    //     background: linear-gradient(to bottom,rgba(77, 77, 76, 0.6), rgba(255, 255, 255, 0.251));

    //     width: 16rem;
    //     height: 60rem;
    //     position: fixed;
    //     left: 0.7rem;
    //     top: 6.1rem;

    //     display: flex;
    //     flex-flow: column wrap;

    //     grid-area: aside;

    //     border-radius: 20px ;
    //     -webkit-border-radius: 20px ;
    //     -moz-border-radius: 20px ;
    //     -ms-border-radius: 20px ;
    //     -o-border-radius: 20px ;
    //     ul{
    //       padding-right: 0rem;
    //       li {
    //         display: inline-block;
    //         position: relative;
    //         &:hover ul {
    //           display: flex;
    //           flex-flow: column wrap;

    //           background-color: rgb(126, 186, 226); /*estoy dando transparencia al color agregando la intensidad de transparencia 0.3*/
    //           background: linear-gradient(to bottom,rgba(255, 255, 209, 0.5), rgb(255, 255, 255));

    //           border-radius: 20px ;
    //           -webkit-border-radius: 20px ;
    //           -moz-border-radius: 20px ;
    //           -ms-border-radius: 20px ;
    //           -o-border-radius: 20px ;
    //         }
    //         h3 {
    //           color: #fbff00;

    //           font-size: 1.9rem;
    //           font-weight: bolder;
    //           font-family: "Montserrat", sans-serif;
    //           line-height: 1.9;
    //           text-align: center;
              
    //           padding-top: 0.3rem;
    //           &:hover {
    //             background-color: #fbff00e2;
    //             color: rgb(0, 0, 0);
    //             font-weight: bolder;
    //             border-radius: 20px ;
    //             -webkit-border-radius: 20px ;
    //             -moz-border-radius: 20px ;
    //             -ms-border-radius: 20px ;
    //             -o-border-radius: 20px ;
    //           }
    //         }
    //         ul {
    //           position: absolute;
    //           display: none;
    //           list-style-type: none;
    //           a {
    //             text-decoration: none;
    //             div {
    //               color: #000000;
    //               font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
    //               font-size: 2.1rem;
    //               font-weight:bold; /*texto mas remarcado*/
                
    //               position: relative; /*especifico que sea la posicion relativa a tener en cuenta para el position absolute del hijo img*/
    //               margin-top: 2.6rem;
    //               &:hover img { 
    //                 display: flex;
    //               }
    //               img {
    //               /* con position absolute y display none estoy diciendo que  SE SALE DEL FLUJO NORMAL Y TOMA AL aside div como su 
    //               padre porque previamente dijimos que aside div es relative, luego el display none actúa ocultando el contenido, en este caso la imagen */
    //                 position: absolute;
    //                 display: none;
                  
    //                 background-size: cover; /*funciona si solo si tengo un ancho y un alto espicificado en mi padre que contine el elemento imagen y obliga 
    //                 a mi imagen a cubrir el espacio del padre*/
    //                 width: 16rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
    //                 height: 19rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
    //               }
    //               p {
    //                 color: #070706;
    //                 font-family: "Montserrat", sans-serif;
    //               }
    //             }
    //           }
    //         }
    //       }
    //     }    


// main form {
//     width: 45rem;
// }

// .asideGrid {
//     background-color: rgba(255, 255, 255, 0);
//     /*estoydando transparencia al color agregando la intensidad de transparencia 0.3*/
//     background: linear-gradient(to bottom,rgba(77, 77, 76, 0), rgba(177, 210, 248, 0));
//     right: 1.6rem;
//     height: 62.5rem;
//     h3{
//         background-color: rgba(30, 10, 72, 0.8);
//         font-size: 1.2rem;
//         line-height: 1.2;
//         font-weight: 800;
//     }
//     ul a div {
//         font-size: 1.3rem;
//         &:hover img { 
//             background-color: rgba(247, 247, 21, 0.2);
//             /*estoydando transparencia al color agregando la intensidad de transparencia 0.3*/
//             background: linear-gradient(to bottom,rgba(77, 77, 76, 0.6), rgba(177, 210, 248, 0.542));
//           }
//           img {
//             width: 17rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
//           }
//     }
// }

// footer {
//     flex-flow: column wrap;
//     margin-right: 18rem;
//     margin-bottom: 0rem;
//     height: 0rem;
//     h2 {
//         padding-right: 16rem;
//         span {
//             font-family: "Montserrat", sans-serif;
//             color: #505052f7;
//             font-size:1.3rem;
//             font-weight: bold;
//         } }
//     .telefonoFooter {
//         margin: 0.5rem 8.5rem 0.5rem 1rem; 
//     } 
//     }

//     //Mi presupuesto//
// .mainMippto{ //formulario de page mi presupuesto//
//     .tituloFormulario {
//         font-size: 2.4rem;
//         line-height: 1.6rem;
//         margin-left: 9.2rem;
//     }
//     .formMippto {
//         font-size: 1.6rem;
//         line-height: 1.2;
//         input {
//             padding-top: 0.5rem;
//             margin-bottom: 1.2rem;
//         }
//     } 
// }

// input:focus { //es una pseudo-clase para form de pages//
//     width: 55rem;
//     height: 4rem;
//   }

// textarea:focus { //es una pseudo-clase para form de pages//
//     width: 55rem;
//     height: 20rem;
//   }

// select:focus { //es una pseudo-clase para form de pages//
//     width: 55rem;
//     height: 4rem;
//   }

//     //Servicios//
// .mainServicios {
//     font-size: 1.5rem;
//     line-height: 3rem;

//     background-position: center;
//     background-size:cover;

//     height: fit-content;
//     width: fit-content;
//     .mainDivServicios {
//         .tituloServicios {
//           /*los margins me sirve solo para aplicar espacios entre textos y titulos*/
//           margin: 9rem 2.3rem 0rem 1rem;
//           margin-left: 7.5rem;

//            //texto inclinado//
//           -webkit-transform: rotate(-353deg); 
//           -moz-transform: rotate(-353deg); 
//           -ms-transform: rotate(-353deg); 
//           -o-transform: rotate(-353deg); 
//           transform: rotate(-353deg); 
          
//           -webkit-transform-origin: 50% 50%; 
//           -moz-transform-origin: 50% 50%; 
//           -ms-transform-origin: 50% 50%; 
//           -o-transform-origin: 50% 50%; 
//           transform-origin: 50% 50%; 
//         }
//         .mainH2 {
//           margin: 6rem;
//           padding-top: 0.7rem;
//           margin-bottom: 3rem;
//           font-weight: 60rem;
//         }
//         .mainPservicios {
//           font-size: 1.9rem;
//           font-weight: bolder;
//         }
//     }   
// }

// //Deseos de Clientes//  
// .galeria {
//     width: 66rem;
//     height: fit-content;
//     margin-left: 5rem;
//     .carousel-item {
//       .textCarousel {
//         font-size: 2rem;
//       }
//       .textCarousel2 {
//         font-size: 2rem;
//       }
//     }
//   }

// //Contacto//  
// #iframeMap {
//     margin: 3rem 5rem;
//     width: 58rem;
//     }
    
// .secContacto {
//     flex-flow: column wrap;
//     background-image:linear-gradient(to right, white, rgba(106, 205, 248, 0.4)) ;
// .img-contacto {
//     width: 48rem;
//     margin-left: 9rem;
// }
// }
// main article form{
//     font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
//     font-size: 1.7rem;
// }

// .inputMediumObs {
//     width: 62rem;
//     font-weight: 500; //este estilo es un agregado y una prueba//
// }
}