
.mainServicios {
    font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
    margin: auto 50px;
    font-size: 1.2rem;
    font-weight: 1000;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;


    height: 65rem;

    background-image: url("/assets/img/camion\ misued.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    
    
    .mainDivServicios {
        .tituloServicios {
          /*los margins me sirve solo para aplicar espacios entre textos y titulos*/
          margin: 5rem 1rem;
          margin-left: 10rem;
          font-size: 2.2rem;
          font-weight: bolder;
          font-family: "Montserrat", sans-serif;
          line-height: 1.5;
          text-align:start;
        }
        .mainH2 {
          margin: 40px;
          font-weight: 1000;
        }
        .mainPservicios {
          font-size: 1.2rem;
          font-weight: bolder;
          font-family: "Montserrat", sans-serif;
          line-height: 1.2;
          text-align: center;
        }
        .textoColorAzul {
            color: blue;
            font-weight: 1000;
          }
    }
    .divServicios2 {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 8rem;
    padding: auto, 1rem;
    }
    .divServicios1 {
    background-color: rgba(210, 217, 235, 0.8);
    margin-bottom: 8rem;
    }
  }

