 //en este archivo complique el codigo al no saber como resolver las propiedades de los h1 h2 h3, etc de bootstrap y los estilos del texto que no me permitian pisar el css de bootstrap y poder dejar el codigo de una manera mas limpia//

.mainServicios {
    font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    line-height: 3rem;
    
    margin: auto 4rem;
    height: auto;
    width: 102rem;

    background-image: url("../assets/img/camion\ misued.jpg"); alt: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    .mainDivServicios {
      color: #ffffffef;
      overflow:hidden;
      width: 120rem;
      height: auto;
      padding: 1rem;
      padding-right: 3rem;
      .tituloServicios {
          /*los margins me sirve solo para aplicar espacios entre textos y titulos*/
          margin: 4rem 1.6rem;
          padding-top: 5rem;
          margin-left: 10rem;

          font-size: 5rem;
          font-weight: 1000;
          font-family: "Montserrat", sans-serif;
          line-height: 2.4rem;
          text-align:start;
          color: #ffffffef;
          background-color: rgb(0, 132, 137);
          
        }
        .mainH2 {
          margin-top: 4rem;
          margin-bottom: 0.2rem;
          font-weight: 1000;
          padding-top: 0.3rem;
          font-size: 2.5rem;
          width: auto;
        }
        .textoColorAzul {
          color: rgb(24, 242, 0);
          font-weight: 1000;
        }
        .fondoTextoServicios {
          padding: 0.3rem;
          font-weight: 5rem;
          font-weight: bold;
        }
        .text-nowrap {
          font-weight: 5rem;
        }
      }
      .divServicios1 {
        background-color: #656d70e9;
        margin-bottom: 12.8rem;
      }
      .divServicios3 {
        color:rgb(255, 255, 255);
        background-color: #9848cde9;
        margin-bottom: 12.8rem;
      }
      .divServicios2 {
        background-color:#0087c6b6;
        margin-bottom: 12.8rem;
        padding: auto, 1.6rem;
      }
      .fw-bolder {
        font-weight: bolder!important;
      }
    }

