/*aplico un reseteador para eliminar espacios no aplicados*/
* {
   margin: 0;
  padding: 0; 
}

/* cambio la medida del REM, para trabajar comodamente con 1rem=10px, dado que un rem quivale a 16px */
html {
  font-size: 62, 5%;
}

/*aplico areas y uso html como padre contenedor, además aplico la orden de trabajar con el 100 por ciento de mi pantalla*/
html body {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "header"
  "main"
  "main"
  "main"
  "footer" ;

  width: 100%;
  height: 100vh;
}

/* BODY */

/*CABECERA*/

/*cabecera titulo*/
header {
  background: radial-gradient(white, rgb(255, 255, 255)); /*pruebo un gradiente bastante sutil para ver como queda*/

  display: flex;
  flex-flow: row wrap;
  /* justify-content: center;*/ /*dejo esto comentado debido a que estoy usando una clase con bootstrap y que no sobrescriba el codigo */
  align-items: center;

  grid-area: header;

  margin-top: 0,5rem;

  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
}

header h1 {
  color: #002a64c1;
  font-size: 1.5rem;
  /* margin-right: 1rem; */
  font-weight: bold;
}

/*esto es una pseudo estilo de prueba para el titulo*/
header h1:hover {
  color: aquamarine;
}

header nav ul {
  display: flex;
  flex-flow: row wrap; /*aplico para que el contenido respete el tamaño y separacion de los elementos li del ul poniendolos en dos lineas horizontales por defecto, y asi evitar que me los junte o achique*/
  justify-content: center;
  align-items: center;

  font-weight: bold; /* le doy mayor grosor a la letra */
  font-size: 1.3rem;
  list-style-type: none; /* elimino los puntos del menu list */

  /* margin: 0.3rem 0.3rem; SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX */
}

header nav ul li {
  border-color: white;
  border-left: solid 2px rgb(178, 194, 208); /* de esta manera borro los bordes que no quiero, luego abajo aplico especificidad */
  border-right: solid 2px rgb(135, 200, 222); /* con estas propiedades jugué con el diseño de bordes en el menu*/

  display: inline-block; /* convierto mi menu en horizontal y al ser también "block" le sumo propiedades de altura (de bloque), ver propiedad con flex box */
  margin: 0.5rem auto;
  padding: 0.5rem 1.5rem;
}

header nav ul a {
  color: #ff009d;
  text-decoration: none; /*le scao el subrayado al texto del menu*/
}

header nav ul a:hover {
  color: rgb(3, 137, 137); /*con esta funcion doy color cuando señalo las palabras del menu*/
}

/*main*/

main {
  grid-area: main; /*solo lo creo para poder darle funcionamiento al grid para lograr la media queris*/
}

/*ASIDE*/

aside {
  background-color: rgba(255, 255, 248, 0.585); /*estoy dando transparencia al color agregando la intensidad de transparencia 0.3*/

  width: 10rem;
  height: 27rem;

  position: fixed;
  right: 0.5rem;
  bottom: 6rem;

  display: flex;
  flex-flow: column wrap;

  grid-area: aside;
}

aside h3 {
  text-align: center;
}

aside div {
  color: #0c4056;
  font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
  font-size: 1.3rem;
  font-weight: bolder; /*texto mas remarcado*/

  position: relative; /*especifico que sea la posicion relativa a tener en cuenta para el position absolute del hijo img*/
  margin-top: 1rem;
}

aside div img {
/* con position absolute y display none estoy diciendo que  SE SALE DEL FLUJO NORMAL Y TOMA AL aside div como su 
padre porque previamente dijimos que aside div es relative, luego el display none actúa ocultando el contenido, en este caso la imagen */
  position: absolute;
  display: none;

  background-size: cover; /*funciona si solo si tengo un ancho y un alto espicificado en mi padre que contine el elemento imagen y obliga 
  a mi imagen a cubrir el espacio del padre*/
  width: 10rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
  height: 12rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
}

aside div:hover img {
  display: flex;
}


/* FORMULARIOS */
/* en este caso aplico css para FORMULARIO, para aplicar propiedades similares entre el formulario de "contacto" y "MI presupuesto" */

main form {
  margin: 0px 40px 20px 40px;
}

.tituloFormulario {
  display: block;
  margin: 50px;
}

/*FOOTER*/

footer {
  background-color: #ffffff;
  margin-top: 1.5rem; /*SACAR ESTA PROPIEDAD CUANDO APLIQUE GRID O FLEX*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  grid-area: footer;
}

footer h2 {
  font-family: "Montserrat", sans-serif;
  color: #505052f7;
  font-size: large;
  font-weight: bold;

  margin-left: 12rem;
}

footer div {
  display: flex;    /*aplico propiedad para poder aplicar padding a los hijos y separarlos entre sí, además aplico direccion y wrap/responsivo*/
  flex-flow: column wrap; 
}

footer div a {
  padding-top: 3.5rem; /*con esta propiedad y gracias que hice flexible al div padre pude aplicarle propiedades box*/
  padding-left: 1.5rem;
}

/*clases del footer*/

.footerGrid {
  width: auto;
  height: 4.62rem;


  background-image: url("../img/probar.jpg");
  background-repeat: no-repeat; /*de esta manera */
  background-position: center; /*de esta manera centro la imagen de fondo, para que me muestre el centro de la imagen inicialmente*/
}

.telefonoFooter {
  margin-left: 20rem;
}

.redesSociales {

  width: 4.2rem;

  position: fixed;
  right: 0.3rem;
  bottom: 9rem;;
}

.instagram {
  width: auto;

  position: fixed;
  right: 4.7rem;
  bottom: 7rem;;
}

.whatsapp {
  width: 4.2rem;
  position: fixed;
  right: 7.5rem;
  bottom: 1.35rem;
}

/*clases de la PAGE INDEX*/

.mainIndex {
  background-color: rgb(235, 243, 243); /*utilice el fondo solo para tomar conocimiento del espacio del main*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "img1 img2 img3"
  "img1 img2 img4";
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  width: auto;
  height: 50rem;
}

.divIndex1 {
  background-image: url("../img/cocina\ ventana\ blanca\ modena.png");
  background-size: cover;
  grid-area:img1;
}

.divIndex2 {
  background-image: url("../img/mampara\ vidrio\ blanco\ junin.png");
  background-size: cover;
  grid-area: img2;
}

.divIndex3 {
  background-image: url("../img/escalera_galeria.jpg");
  background-size: cover;
  grid-area: img3
}

.divIndex4 {
  background-image: url("../img/puerta\ hierro\ con\ vidrio\ esmerilado.png");
  background-position:left;
  background-size: contain;
  grid-area: img4;
}


/* clases SERVICIO.HTML */

.mainServicios {  
  font-family: "Montserrat", sans-serif; /*pongo esta propiedad donde quiera que se apliquen las fuentes, "sans-serif" es la segunda opcion en caso de que google fonts se caiga*/
  margin: auto 50px;
}

.tituloServicios {
  /*los margins me sirve solo para aplicar espacios entre textos y titulos*/
  margin: 50px 10px;
}
.mainDivServicios {
  margin: 50px;
}

.mainH2 {
  margin: 40px;
}

.mainPServicios {
  font-style: oblique;
  margin: 20px;
}

.textoColorAzul {
  color: blue;
}

/* css de MI PRESUPUESTO */

/* css de CONTACTO */

#iframeMap {
   margin: 4rem 4rem;
}

/* aplico responsive designe */

